name: github pages

on:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: fuelup-bot
    steps:
      - uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "0.4.8"
                  
      - run: mdbook build docs

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}

      - name: Deploy master
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          publish_dir: ./docs/book
          destination_dir: master
          cname: install.fuel.network
          user_name: 'fuel-service-user'
          user_email: 'fuel-service-user@users.noreply.github.com'
        if: github.ref == 'refs/heads/master'

      - name: Get tag
        id: branch_name
        run: |
          echo "BRANCH_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        if: startsWith(github.ref, 'refs/tags')

      - name: Deploy tag
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          publish_dir: ./docs/book
          destination_dir: ${{ steps.branch_name.outputs.BRANCH_NAME }}
          cname: install.fuel.network
          user_name: 'fuel-service-user'
          user_email: 'fuel-service-user@users.noreply.github.com'
        if: startsWith(github.ref, 'refs/tags')

      - name: Create latest HTML redirect file
        if: startsWith(github.ref, 'refs/tags')
        run: |
          mkdir ./latest
          cat > ./latest/index.html <<EOF
          <!DOCTYPE html>
          <meta charset="utf-8">
          <meta http-equiv="refresh" content="0; URL=../${{ steps.branch_name.outputs.BRANCH_NAME }}/">
          <link rel="canonical" href="../${{ steps.branch_name.outputs.BRANCH_NAME }}/">
          EOF

      - name: Set latest to point to tag
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          publish_dir: ./latest/
          destination_dir: ./latest/
          cname: install.fuel.network
          user_name: 'fuel-service-user'
          user_email: 'fuel-service-user@users.noreply.github.com'
        if: startsWith(github.ref, 'refs/tags')
