name: Publish Channel (nightly)

on:
  push:
    branches:
      - bingcicle/nightly-channel
  workflow_dispatch:
  schedule:
    # Publish 1 hour after nightlies start building
    - cron: '0 1 * * *'

env:
  NIGHTLY_CHANNEL_DIR: ./channel-fuel-nightly.toml.d/

jobs:
  publish-channel:
    name: Publish channel (nightly)
    runs-on: ubuntu-latest
    steps:
      - name: checkout master
        uses: actions/checkout@v3

      - name: Publish nightly channel
        id: setup
        run: |
            archive_dir=$(date +'%Y/%m/28')
            touch channel-fuel-nightly.toml
            mkdir -p ${{ env.NIGHTLY_CHANNEL_DIR }}
            ./.github/workflows/scripts/index-versions.sh nightly nightly $GITHUB_RUN_ID channel-fuel-nightly.toml
            cp channel-fuel-nightly.toml ${{ env.NIGHTLY_CHANNEL_DIR }}

            echo "::set-output name=archive_dir::channels/nightly/$archive_dir"

      - name: Deploy nightly channel (latest version)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.NIGHTLY_CHANNEL_DIR }}
          keep_files: true
          destination_dir: ./

      - name: Deploy nightly channel (archive)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.NIGHTLY_CHANNEL_DIR }}
          keep_files: true
          destination_dir: ${{ steps.setup.outputs.archive_dir }}
