name: Update Compiler Explorer

on:
  workflow_dispatch: # Only runs when manually dispatched
    # No inputs needed if the script always determines the version automatically

jobs:
  update-compiler-explorer:
    runs-on: ubuntu-latest
    environment: fuelup-bot
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run update-compiler-explorer
        env:
          GITHUB_TOKEN: ${{ secrets.SERVICE_USER_PAT }}
        run: |
          cd ci/update-compiler-explorer
          cargo run
